.background {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(12, 8, 8, 0.87);
  background-color: white;

  background-image: url('./assets/background.jpeg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 25%;
  

  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logOutMenu{
  float: right;
}

.logOutMenu button{
  color: black;
  background-color: white;
  letter-spacing: 0.25px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}



.link{
  color: blue;
}

.link:hover{
  text-decoration: underline;
}
